body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.portfolioImage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.icon {
  height: 30px;
  width: 30px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0em 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

.progress-container {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.progress-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress-svg {
  transform: rotate(-90deg);
}

.progress-bg {
  fill: none;
  stroke: #f1f1f1;
  stroke-width: 8;
}

.progress-bar {
  fill: none;
  stroke: #4caf50;
  stroke-width: 8;
  stroke-dasharray: 251.2;
  stroke-dashoffset: 251.2;
  animation: progressAnimation 1s ease-in-out forwards;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #4caf50;
}

@keyframes progressAnimation {
  to {
    stroke-dashoffset: calc(251.2 - (251.2 * 30) / 100);
  }
}
